
header, h1, img {
    background-color: #006747;
    margin: 0;
    padding: none;
    height: 120px;
    text-align: right;
    font-size: 60px;
}

.btn login {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn: hover {background: #eee;}
  .login {color: green}
  .help {color: green}

img {
  float: left;
  padding-left: 10px;
  height: auto;
}

h1 {
  text-align: right;
  color: #FFFFFF;
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
}

nav {
  position: absolute;
  top: 50px;
  right: 15px;
  color: #FFFFFF;
}

img {
  margin-left: 10px;
  margin-top: 10px;

}



h2 {
  font-size: 40px;
  text-align: center;
  color: #000000;
  padding-right: 10px;
}

body {
  background-image: url('client5images/AdminBuilding.jpg');
}

footer {
  background-color: #D3D3D3;
  background-image: url("");
}


nav {
  font-size: 20px;
}

.banner-links {

}

.parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textbook {
  background-image: url('client5images/Station.jpg');

}

.parent button {
  background-color: #006747;
  border: none;
  color: white;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;  cursor: pointer; /*Mouse pointer on hover*/
  transition: all 0.2s ease;
}

.parent button: active{
  background-color: #006747;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
  transition: 1s ease-in-out;
}

/* Darker background on mouse-over */
.btn:hover{
  background-color: darkslategrey;
}

.parent button:not(:first-child){
  margin-top: 10px;
}

.round-1{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-2{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-3{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-4{
  border-radius: 50%
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-5{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-6{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}

.round-7{
  border-radius: 50%;
  width: calc(30% - 4px);
  max-width: 960px;
  margin: 0 auto;
}
