
.header{
  overflow: hidden;
  background-color: #006747;
  padding: 20px 10px;
}

/*Style the Header Links*/
.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* On mouse-over */
.btn: hover {
   {background: #eee;}
  .login {color: green}
  .help {color: green}

/*Style the Logo Link*/
.header a.logo{
  font-size: 25px;
  font-weight: bold;
}

/*Change the Background color on mouse over*/
.header a:hover{
  background-color: #006747;
  color: white;
}

/*Style the Current link*/
.header a:active{
  background-color: black;
  color: white;
}

/*Float Section to Right*/
.header-right{
  float: right;

}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: inherit;
}

nav {
  position: absolute;
  top: 50px;
  right: 15px;
  color: #FFFFFF;
}

h2 {
  font-size: 40px;
  text-align: center;
  color: #000000;
  padding-right: 10px;
}

body {
  height: 100%;
}


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circular-square{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-square img{
  width: 100%;
  height: auto;
}

footer {
  background-color: #D3D3D3;
}


nav {
  font-size: 20px;
}

.banner-links {

}

.textbook {
  background-image: none;
  /*background-image: url('client5images/Station.jpg')*/;
}

.openings{
  background-image: none;
}
