/*
File Name: styles.css
*/

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: #006747;
  overflow: auto;
}

main {
  background-image: url("client5images/AdminBuilding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1000px;
  margin: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;


  /*display: inline-block; */
  background-size:

  background-repeat: no-repeat;
}

ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}

li {
  float: left;
}

h1 {
  position: absolute;
  margin-top:15px;
  margin-left: 10px;
  color: white;
}

h2 {
  font-size: 25px;
  padding-left: 5px;
}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  text-align: center;
}

nav a:hover {
  background: gray;
  transition: 0.5s;
  text-transform: uppercase;
}

.required {
  color: red;
}

.textbooks {
  background-image: none;
  background: white;
}

.openings {
  background-image: none;
  background: white;
}

.appstatus {
  background-image: none;
  background: white;
}


/*.grid-center{
  grid-area: center;
  position: relative;
  bottom: 10px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 1px;
  text-align: middle;
  text-decoration-color: white;
}*/

#grid {
  display: grid;
  grid: auto / auto auto auto auto;
  grid-gap: 10px;
  width: 50%;
  margin: auto;
  background-size: auto;
}

#grid>div{
  font-size: 16px;
  padding: 1em;
  color: #ffffff;
  background: #006747;
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0;
}
a:link{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

/*.grid div{
  box-shadow: 50px black;
  text-align: center;
  color: white;
}*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #373737;
  color: white;
  width: 100%;
  height: 3rem;

}

p {
margin-left: 10px;
}


/*media query for LAPTOP */
@media screen and (min-width: 1024px) and (max-height: 768px) {

  #grid {
    display: grid;
    grid: auto / auto auto auto auto;
    grid-gap: 10px;
    width: 50%;
    margin: auto;
    background-size: auto;
  }

  #grid>div{
    font-size: 16px;
    padding: 1em;
    color: #ffffff;
    background: #006747;
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0;
  }
  main {
    background-image: url("client5images/AdminBuilding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1000px;
    margin: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;


    /*display: inline-block; */
    background-size:

    background-repeat: no-repeat;
  }


}


/*media query mobile*/
@media only screen and (min-width: 600px){
@media only screen and (min-width: 320px) and (max-width: 480px){

  h1 {
    position: absolute;
    margin-top:15px;
    margin-left: 10px;
    color: white;
  }

  h2 {
    font-size: 25px;
    padding-left: 5px;
  }

  ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
  }

  li {
    float: left;
  }


  nav {
    width: 100%;
    background: #006747;
    overflow: auto;
  }

  nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial;
    color: white;
    text-align: center;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #373737;
    color: white;
    width: 100%;
    height: 3rem;
  }



  #grid {
    display: grid;
    grid: auto / auto auto auto auto;
    grid-gap: 10px;
    width: 50%;
    margin: auto;
    background-size: auto;
  }

  #grid>div{
    font-size: 16px;
    padding: 1em;
    color: #ffffff;
    background: #006747;
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0;
  }



}
