
.header{
  overflow: hidden;
  background-color: #006747;
  padding: 20px 10px;
}

/*Style the Header Links*/
.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* On mouse-over */
.btn: hover {
   {background: #eee;}
  .login {color: green}
  .help {color: green}

/*Style the Logo Link*/
.header a.logo{
  font-size: 25px;
  font-weight: bold;
}

/*Change the Background color on mouse over*/
.header a:hover{
  background-color: #006747;
  color: white;
}

/*Style the Current link*/
.header a:active{
  background-color: black;
  color: white;
}

/*Float Section to Right*/
.header-right{
  float: right;

}

/*
img {
  float: left;
  padding-left: 10px;
  height: auto;
}
*/

#homepage {
  background-image: url("client5images/AdminBuilding.jpg");
}


h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: inherit;
}

nav {
  position: absolute;
  top: 50px;
  right: 15px;
  color: #FFFFFF;
}

img {
  margin-left: 10px;
  margin-top: 10px;

}



h2 {
  font-size: 40px;
  text-align: center;
  color: #000000;
  padding-right: 10px;
}

footer {
  background-color: #D3D3D3;
  background-image: url("");
}


nav {
  font-size: 20px;
}

.banner-links {

}

.parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textbook {
  background-image: none;
  /*background-image: url('client5images/Station.jpg')*/;
}

.openings{
  background-image: none;
}

/*Style rules for Schedule.html*/
