

body {
  margin: 0;
  padding: 0;
  background: white;
}

nav {
  width: 100%;
  background: #006747;
  overflow: auto;
}

ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}

li {
  float: left;
}

h1 {
  position: absolute;
  margin-top:15px;
  margin-left: 10px;
  color: white;
}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  text-align: center;
}

nav a:hover {
  background: gray;
  transition: 0.5s;
  text-transform: uppercase;
}

#footer {
  background: gray;
  color: white;
  width: 100%;
  height: 3rem;
  overflow: auto;

}

p {
margin-left: 10px;
}
