/*
File Name: styles.css
*/

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: #006747;
  overflow: auto;
}

main {
  background-image: url("client5images/AdminBuilding.jpg");
  width: 100%;


  /*display: inline-block; */
  background-size:

  background-repeat: no-repeat;
}

ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}

li {
  float: left;
}

h1 {
  position: absolute;
  margin-top:15px;
  margin-left: 10px;
  color: white;
}

h2 {
  font-size: 25px;
  padding-left: 5px;
}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  text-align: center;
}

nav a:hover {
  background: gray;
  transition: 0.5s;
  text-transform: uppercase;
}

.required {
  color: red;
}

.grid-center{
  grid-area: center;
  position: relative;
  bottom: 10px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 1px;
  text-align: middle;
  text-decoration-color: white;
}

a:link{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

.grid div{
  box-shadow: 50px black;
  text-align: center;
  color: white;
}

footer {
  background: #373737;
  color: white;
  width: 100%;
  height: 3rem;


  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: auto

}

p {
margin-left: 10px;
}


/*media query mobile*/
